
body{
    font-family: 'Roboto Mono', monospace;
    display: flex;
    justify-content: center;
    background-color: #222222;
    color: #eeeeee;
    overflow-x: hidden;
    margin: 0;
}

main{
    width: 70%;
    text-align: left;
}

h1{
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
}

hr{
    border: 1px solid rgb(105, 105, 105);
}
p{margin-left: 2px;}
.input-file span {
    position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	font-size: 16px;
	vertical-align: middle;
	border: 2px rgb(105, 105, 105) solid;
    border-radius: 15px;
    padding: 10px;
    font-weight: 400;
    margin-left: 2px;
    margin-bottom: 1%;
    transition: background-color 0.2s;
}

.input-file span:hover{
    background-color: rgb(105, 105, 105);
    text-decoration: dashed;
    transition: background-color 0.2s;
}

.input-file input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}

#load_mess{
    /*display: none*/
    margin: 0;
    margin-bottom: 1%;
}

#files_table{
    display: inline-block;
    width: 100%;
}
#files_table tbody{width: 100%;}


#files_table .tr{
    display: flex;
    position: relative;
	outline: none;
	text-decoration: none;
	font-size: 16px;
	vertical-align: middle;
	border: 2px rgb(105, 105, 105) solid;
    border-radius: 15px;
    padding: 5px;
    font-weight: 400;
    align-items: center;
    padding-right: 6px;
    margin-bottom: 2%;
}

#files_table .button{
    cursor: pointer;
    background-color: #222222;
    color:#eeeeee;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 80%;
    border: 2px rgb(105, 105, 105) solid;
    border-radius: 10px;
    padding: 5px;
    font-weight: 400;
    margin-left: 3%;
    transition: background-color 0.2s;
    box-sizing: border-box;
}

#files_table button:hover{
    background-color: rgb(109, 109, 109);
    transition: background-color 0.2s;
}

#files_table p{
    color:#eeeeee;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    margin: 0;
}

#files_table #url{
    font-size: 95%;
    cursor: pointer;
    color: white;
    text-decoration: none;
    text-wrap: wrap;
    display: block;
    margin-right: 0.5rem;
}

#files_table #url:hover{
    text-decoration: underline dashed;
}

#files_table #filename{
    font-size: 70%;
    color:  rgb(200, 200, 200);
}

#files_table #cr_time{
    font-size: 70%;
    color:  rgb(200, 200, 200)
}

tr {
    white-space: normal;
    display: flex;
    justify-content: space-between;
}

tbody{
    max-width: 90%;
}

td div{
    max-width: 90%;
}

#addit_sett_btn{
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 100%;
    margin-bottom: 1%;
    font-family: 'Roboto Mono', monospace;
}

#addit_sett_btn:hover{text-decoration: underline dashed;}

#addit_sett{
    display: none;
    padding-left: 1%;
    margin-bottom: 1%;
}

#creation_date_div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.online{
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 0.5%;
}

nav a{
    cursor: pointer;
    color: white;
    text-decoration: none;
}
nav a:hover{
    font-weight: 600;
    text-decoration: underline dashed;
}

#login_mess{
    font-style: italic;
}

.selected{font-weight: 600;}

#dropContainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.snowflake{
    position: absolute;
    font-size: 200%;
    color: white;
    margin: 0;
    overflow: hidden;
}

#canvas{
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 100;
}

#snow_btn{
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    background: none;
    border: none;
    font-size: 300%;
    color: white;
    transform:rotate(0deg);
    transition: transform 0.3s ease-in-out;
    padding: 0;
    width: 35px;
    height: 35px;
    vertical-align: top;
}

#snow_btn:hover{
    cursor: pointer;
    transform:rotate(-180deg);
    transition: transform 0.3s ease-in-out;
}

.url_link_div{
    display: flex;
    align-items: center;
    flex-direction: row;
    text-overflow: ellipsis;
}

.href_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1%;
    cursor: pointer;
}

#transfer_row{
    border: none;
}

#trensfer{
    margin-bottom: 3%;
    margin-left: 0;
    cursor: pointer;
    background-color: #222222;
    color:#eeeeee;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 80%;
    border: 2px rgb(105, 105, 105) solid;
    border-radius: 10px;
    padding: 5px;
    font-weight: 400;
    transition: background-color 0.2s;
}

#groups{
    background-color: #222222;
    color: white;
    border: 2px rgb(105, 105, 105) solid;
    border-radius: 10px;
    padding: 5px;
    max-width: 100%;
}

.group_btn{
    background-color: #222222;
    color: #eeeeee;
    border: 2px rgb(105, 105, 105) solid;
    border-radius: 10px;
    width: 31px;
    height: 31px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 600;
    font-size: 0.9rem;
    padding: 0px;
    margin-left: 5px;
    transition: background-color 0.2s;
    cursor: pointer;
}

.group_btn:hover{
    background-color: rgb(109, 109, 109);
    transition: background-color 0.2s;
}

#username{
    font-size: 70%;
    color:  rgb(200, 200, 200)
}

.group_btn:disabled{
    cursor: default;
    border: 2px rgb(68, 68, 68) solid;
}
.group_btn:disabled:hover{
    background-color: #222222;
}

.button_creation_class{
    background-color: #222222; 
    border: 2px rgb(105, 105, 105) solid;
    border-radius: 10px; 
    padding: 10px; 
    color: white; 
    cursor: pointer;
    transition: background-color 0.2s;
}

.button_creation_class:hover{
    background-color: rgb(109, 109, 109);
    transition: background-color 0.2s;
}

#external{
    width: 24px;
    height: 24px;
    margin-left: -3px;
    
}

@media(max-width: 425px){
    main{width: 90%;}
    h1{font-size: 130%;}
    p{font-size: 90%;}
    .input-file span {
        font-size: 90%;
        padding: 7px;
        border-radius: 10px;
    }
    #files_table .tr{padding: 2%; flex-wrap: wrap;}
    #files_table p{font-size: 70%; margin: 0; word-break: break-all;}
    #files_table .button{font-size: 70%; padding: 7px; margin: 0}
    #files_table #url{font-size: 70%;}
    #addit_sett{padding-left: 2%; margin-bottom: 3%;}
    #addit_sett_btn{margin-bottom: 3%;}
    .add_label{font-size: 80%;}
    #files_table .tr {flex-direction: column; align-items: flex-start;}
}